.backround{
    background: rgb(255,182,255);
    background: radial-gradient(circle, rgba(255,182,255,1) 33%, rgba(255,0,109,1) 100%);
    width: 100%;
    height: 100%;
}

.profile-pic{
    border-radius: 50%;
}

.rate-me_headline{
    background:-webkit-linear-gradient(rgba(255,182,255,1) 33%, rgba(255,0,109,1));
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}