.button-container {
    text-align: center;
    margin-top: 10px;
}

.small-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
}

.small-button:hover {
    background-color: #0056b3;
}


#central_panel {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

.post {
    background-color: #494848; /* Grey color */
    border-radius: 5px; /* Rounded edges */
    padding: 10px; /* Add some padding for better look */
    text-align: center; /* Center the text */
    display: flex;
    justify-content: center; /* Center the div */
    align-items: center; /* Center the div */
}